@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  /* background-image: url("/assets/img/marjan-blan-marjanblan-_kUxT8WkoeY-unsplash.jpeg"); */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.container {
  padding-top: 3%;
}

h1 {
  font-family: 'Orbitron', sans-serif;
}

#checkForm {
  display:none;
}

#activityInputForms {
  display:none;
}

#usersName {
  display:none;
}

#doneAdding {
  display:none;
}

#userList {
  float:right;
  width:300px;
  min-height:200px;
  box-sizing: border-box;
  padding:5px;
  border: 1px solid black;
}

ul#userListBase ul li {
  display:none;
}

#activityInputs {
display:none;
}
#findActiv {
  display:none;
}

